body
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

hr.style-one 
{
    border: 0;
    height: 5px;
    width:80%;
    margin:auto;
    background: rgb(247, 78, 0);
}

h3
{
    font-size: 2rem;
    font-weight: 700;
}

.shade
{
    box-shadow: 0px 6px 17px rgb(247, 78, 0);
}

.orTheme
{
    color:  rgb(247, 78, 0);
}

.section-title h3
{
    font-size: 2.5rem;
    font-weight: 700;
}

/* navbar */
.navbar-nav > li
{
    font-weight: 700;
    padding-left:7px;
    padding-right:7px;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link 
{
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover 
{
    color: rgb(247, 137, 86);
}

.navbar-brand 
{
    font-weight: 900;
    font-size: 38px;
    padding: 0;
    line-height: 1;
    text-transform: uppercase; 
}

.navbar-brand span 
{
    margin-left: 60px;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px; 
}
/* navbar end */



/* carousel */

.first-section {
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    height: 100vh;
	vertical-align: middle;
}
/* end of carousel */



/* about us section */
.heading-section h2
{
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 3px 2px 5px rgb(247, 137, 86);
}

.heading-section p
{
    font-size: 1.1rem;
}

#about .number
{
    display: block;
    font-size: 2rem;
    color: rgb(247, 137, 86);
}

#about span
{
    font-size: 1.2rem;
}
/* about us end */



/* services section */
.service-item .service-icon img {
    max-width: 100%;
}

.service-item
{
    font-size: 1rem;
}

.service-content a
{
    color: black;
    text-decoration: none;
}
/* end of services section */



/* courses section */
.course-cards p
{
    font-size: 1rem;
}
.course-cards .btn-outline-success 
{
    color:rgb(247, 137, 86);
    border-color:rgb(247, 137, 86);
}
.course-cards .btn-outline-success:hover 
{
    color:black;
    border-color:rgb(247, 137, 86);
    background-color: rgb(247, 137, 86);
}
/* end of courses section */



/* events section */
/* .event_date
{
    border : 2px solid rgb(247, 137, 86);
}
.event_date .event_day
{
    font-size: 1.75rem;
} */

.event_date
{
	width: 131px;
	height: 131px;
	border: solid 2px  rgb(247, 137, 86);
	margin-bottom: 18px;
}
.event_day
{
	font-size: 48px;
	font-weight: 700;
	color:  rgb(247, 137, 86);
	margin-bottom: 1px;
	line-height: 1;
}
.event_month
{
	font-size: 16px;
	font-weight: 700;
	color:  rgb(247, 137, 86);
}
.event_name a
{
	font-size: 22px;
	font-weight: 500;
    color: #1a1a1a;
    text-decoration: none;
}
.event_name a:hover
{
    color: rgb(247, 137, 86)
}
.event_location
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	margin-top: 2px;
}
/* end of events section */



/* footer section */
footer
{
    background-color: #0d0c22;
    color: white;
}

.footer-links
{
    list-style: none;
    line-height: 2;
}

.footer-links-soi 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0c22;
}

.footer-links-soi li 
{
    float: left;
}

.footer-links-soi li a 
{
    display: block;
    color: white;
    text-align: center;
    padding-right: 32px;
    text-decoration: none;
}

#joinUs #submit
{
    font-size: 1.2rem;
    background-color: rgb(247, 137, 86);
    border-color: rgb(247, 137, 86);
}
/* end of footer section */